[Unit]
Description=kube-controller-manager: The Kubernetes Controller Manager
ConditionPathExists=/opt/crt/ca.crt
ConditionPathExists=/opt/crt/kube-controller-manager.client.crt
ConditionPathExists=/opt/key/kube-controller-manager/kube-controller-manager.client.key
Wants=kube-apiserver.service
After=kube-apiserver.service
[Service]
Type=exec
Restart=always
StartLimitInterval=0
RestartSec=10
User=kube-controller-manager
Group=kube-controller-manager
ExecStart=/opt/kube-controller-manager/bin/run-kube-controller-manager.sh
[Install]
WantedBy=multi-user.target
